<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
<style>
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
</style>

<script>
jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyD-NKeqon4Iptpd4vJcdOeYOQFyerh5qBA&sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = [
        ['Random Sushi', 47.550536, 7.597893],
        ['KEBAB', 47.560731, 7.594803]
    ];
                        
    // Info Window Content
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>Random Sushi</h3>' +
        '<img src="https://static.wixstatic.com/media/b685ad_619038e81c5845a289089f4a964f1834~mv2_d_1920_1275_s_2.jpg/v1/fill/w_500,h_333,q_85,usm_0.66_1.00_0.01/b685ad_619038e81c5845a289089f4a964f1834~mv2_d_1920_1275_s_2.jpg" width="130" height="100"></br>'+
        '<a href="https://www.weget-deal.com/product-page/sushi-bento-box" target="_blank">Check out!</a>'+
        '<p>Cheap salmon 15 euros</p>' +        '</div>'],
        ['<div class="info_content">' +
        '<h3>KEBAB</h3>' +
        '<p>KEBABKEBAB KEBAB.</p>' +
        '</div>']
    ];
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });
    
}

</script>